html{
    font-size: 125%;
}
@import '_partials/reset';
@import '_partials/normalize';


@import '_partials/typography';
@import '_partials/buttons';
@import '_partials/wrappers';
@import '_partials/global';

// // FunPlace
@import './_partials/nav';
@import './_partials/header';
@import './_partials/generalInfo';
@import './_partials/ourProgramsAndNewLocations';
@import './_partials/roadTrips.scss';
@import './_partials/splash.scss';
@import './_partials/events';
@import './_partials/gallery';
@import './_partials/copyright';
// Get in Touch

// Blog
@import './_partials/blog';

// Queries
@import './_partials/mediaQueries';