.b {
  background: $deepTurq;
}
.blogBackground {
  background: $deepTurq;
}
.headerBlog {
  background-image: url("./../assets/blogHeader.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  position: relative;
}
.bubbles {
  width: 100%;
  max-width: 100%;
  margin-top: -100px;
  position: absolute;
  top: 0;
  right: -10px;
  box-shadow: -16px 16px 0px 0px $brightAqua;
}
.b aside {
  margin-top: 50px;
  min-width: 250px;
  width: 33.9%;
  z-index: 2;
}

.asideText li::before {
  content: "•";
  color: $brightAqua;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.b .asideText {
  margin-top: 10px;
  padding-top: 20px;
  background: $frenchBlue;
  margin-left: 52px;
  margin-top: 0px;
  padding: 30px 0 50px 30px;
  box-shadow: 30px 0px 0px 0px $frenchBlue;
}
.b .asideText a {
  padding: 0;
}
.b .asideText a:hover {
  color: $brightAqua;
}
.b main {
  width: 65.1%;
  background: $deepTurq;
  margin-left: 100px;
  margin-bottom: 100px;
}
.b p {
  font-size: 21px;
}

.newActivities {
  padding-top: 60%;
  border-left: 6px solid $brightAqua;
  border-bottom: 6px solid $brightAqua;
  position: relative;
  padding-bottom: 70px;
}
.newActivities::after {
  content: "";
  height: 6px;
  width: 30px;
  background-color: #08fded;
  bottom: -6px;
  right: -10px;
  position: absolute;
  z-index: 10;
}
.newActivitiesWrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 80%;
}
.blogContainerFlex {
  display: flex;
  max-width: calc(100% - 10px);
}
.chalkImage {
  position: relative;
}
.chalkImage img {
  box-shadow: 30px 0px 0px 0px $frenchBlue;
}
.chalkImage::after {
  content: "";
  height: 30px;
  background-color: $deepTurq;
  top: 0px;
  right: -30px;
  position: absolute;
  width: 30px;
}
.blogComment {
  margin-top: -7px;
  padding-left: 20px;
  width: 90%;
}
