.generalInfo {
  background: $deepTurq;
  padding: 200px 0 100px;
}
.generalInfo p {
  margin-left: 62px;
}
.generalInfoFlex {
  display: flex;
  flex-wrap: wrap;
}
.iconFlex {
  display: flex;
}
.generalInfoFlexItem {
  width: 50%;
}
.generalInfoFlexItem a {
  padding: 0;
}
.generalInfoFlexItem a:hover {
  font-style: italic;
}
.circle {
  font-size: 50px;
  margin-right: 10px;
  position: relative;
  color: $brightAqua;
  text-align: center;
}
.icon {
  position: absolute;
  top: 12px;
  color: $frenchBlue;
  font-size: 30px;
}

.icon1 {
  right: 8px;
}

.icon2 {
  right: 7px;
}

.icon3 {
  right: 14px;
}

.icon4 {
  right: 10px;
}
