a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}
.h h1 {
  margin-top: 22vh;
  margin-left: 8vw;
}
.headerHome {
  background-image: url("./../assets/homeHeader.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}
.skateboard {
  width: 50%;
  max-width: 700px;
  margin-bottom: -140px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.titleFlex {
  position: relative;
  height: 70vh;
}
.title {
  display: flex;
}
h1 {
  color: $paleGrey;
  align-self: center;
}
