@media (max-width: 1220px) {
  .ourProgramsAndNewLocations {
    padding: 12% 0;
  }
  .ourPrograms,
  .newLocation {
    width: 50%;
  }
}
@media (max-width: 1120px) {
  .ourProgramsAndNewLocations {
    padding: 13% 0;
  }
}
@media (max-width: 1000px) {
  .ourProgramsAndNewLocations {
    padding: 16% 0;
  }
  .newLocation {
    padding-left: 0;
  }
  .ourPrograms,
  .newLocation {
    width: 56%;
  }
}

@media (max-width: 1000px) {
  .generalInfo {
    padding: 200px 0 80px;
  }
  .eventsText {
    text-align: center;
  }
  .contactFlexWrap {
    flex-direction: column;
  }
  .contactAside {
    order: 2;
  }
  .c .contactMain {
    width: 90%;
    margin: 0 auto;
  }
  .b .asideText {
    margin-left: 50px;
  }
}

@media (max-width: 800px) {
  // Typography start

  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 20px;
    display: inline;
  }
  p {
    font-size: 16px;
  }
  li {
    font-size: 19px;
  }
  // Typography end
  .mainNav a {
    font-size: 20px;
  }
  .mainNav {
    padding: 20px 0;
  }
  .mainNav li {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 20px;
  }
  nav {
    padding: 30px 0 0 3vw;
  }
  .h h1 {
    margin: 0 auto 30vh;
  }
  .skateboard {
    width: 100%;
    max-width: 500px;
  }
  // ourProgramsAndNewLocations
  .ourProgramsAndNewLocations {
    padding: 0;
    position: initial;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0;
  }
  .newLocation {
    position: initial;
    width: 100%;
    order: 3;
    text-align: center;
    padding: 50px;
  }
  .ourPrograms {
    position: initial;
    width: 100%;
    padding: 50px;
  }
  .firstImage {
    position: initial;
    width: 100%;
    box-shadow: 0px 10px 0px 0px #08fded;
  }
  .secondImage {
    position: initial;
    width: 100%;
    box-shadow: 0px 10px 0px 0px #08fded;
  }

  // OurProgramsAndNewLocation End
  // general info start
  .generalInfo {
    padding: 180px 0 30px;
    margin: 0;
  }
  .generalInfoFlexItem {
    width: 100%;
  }
  // general info end

  // events start
  .flexEvents {
    flex-direction: column;
  }
  .eventsText {
    padding-top: 50px;
    margin-left: 0;
  }
  // events end

  // flexgallery start
  .gallery {
    padding: 0;
  }
  .flexGallery {
    flex-wrap: wrap;
  }
  .galleryItem {
    width: 100%;
  }
  .galleryItem:first-of-type {
    width: 50%;
  }
  .galleryItem:nth-of-type(2) {
    margin: 0;
    width: 50%;
  }
  .galleryItem:last-of-type {
    width: 100%;
  }
  .blogContainerFlex {
    flex-direction: column;
  }
  // flexgallery end
  .b h1 {
    padding-top: 20vh;
    text-align: center;
  }
  .b main {
    width: 100%;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .b aside {
    margin-top: 0;
    min-width: 0;
    width: 81%;
    z-index: 2;
    margin: 0px auto 100px;
  }
  .b .asideText {
    margin-top: 10px;
    padding-top: 20px;
    background: #474bb5;
    margin-left: 30px;
    padding: 20px 10px;
    box-shadow: none;
    margin: 0;
  }
  .b .formName,
  .b .formEmail {
    width: 100%;
    margin-right: 0;
  }
  .bubbles {
    margin-top: -60px;
    left: 10px;
  }
  .chalkImage {
    position: relative;
    padding-bottom: 0;
  }
  .chalkImage img {
    box-shadow: none;
  }
  .newActivitiesWrapper {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
  }
  .newActivities {
    border: none;
  }
  .c .contactMain {
    box-shadow: none;
    width: 100%;
    padding: 15px;
  }
  .c .contactAside {
    margin: 0 0 50px 0;
  }
  .c .formName,
  .c .formEmail {
    width: 100%;
    margin: 10px 0;
  }
  .c footer {
    margin-top: 0;
  }
  .email {
    margin-bottom: 0;
  }
}
