nav {
  padding: 30px 0 0 10vw;
}
nav ul {
  display: flex;
  padding: 0;
}
nav li {
  list-style-type: none;
  margin: 0 20px;
}

nav a {
  padding: 10px;
  position: relative;
}
nav a::after {
  content: "";
  height: 6px;
  background-color: $brightAqua;
  bottom: -3px;
  left: 12px;
  display: none;
  position: absolute;
  width: 60%;
}
nav a:hover:after {
  display: inline-block;
}

.mainNav {
  padding: 30px 0 0 10vw;

  ul {
    display: flex;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0 10px;
  }

  a {
    padding: 10px;
    font-size: $navFont;
    position: relative;
  }
  a::after {
    content: "";
    height: 6px;
    background-color: $brightAqua;
    bottom: -3px;
    left: 12px;
    display: none;
    position: absolute;
    width: 60%;
  }
  .active::after {
    content: "";
    height: 6px;
    background-color: $brightAqua;
    bottom: -3px;
    left: 20%;
    position: absolute;
    width: 60%;
  }
  a:hover:after {
    display: inline-block;
  }
}
