.blogBackground {
  background: $deepTurq;
}
.headerBlog {
  background-image: url("./../assets/blogHeader.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  position: relative;
}
.bubbles {
  width: 100%;
  max-width: 100%;
  margin-top: -100px;
  position: absolute;
  top: 0;
  right: -10px;
  box-shadow: -16px 16px 0px 0px $brightAqua;
}
.b aside {
  margin-top: 50px;
  min-width: 250px;
  width: 33.9%;
  z-index: 2;
}
.b aside
// This method class was found at https://www.w3.org/Style/Examples/007/color-bullets.en.html
// In order to change the list style type to be a different color than the content of what is inside the list
.b .asideText li::before {
  content: "•";
  color: $brightAqua;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.b .asideText {
  margin-top: 10px;
  padding-top: 20px;
  background: $frenchBlue;
  margin-left: 30px;
  padding: 0 0 50px 50px;
  box-shadow: 10px 0px 0px 0px $frenchBlue;
}
.b main {
  min-width: calc(100%-250px -50px);
  width: 65.1%;
  background: $deepTurq;
  margin-left: 50px;
}
.b p {
  font-size: 21px;
}
.b h1 {
  padding: 0 0 0 13vw;
}
.newActivities {
  padding-top: 60%;
  border-left: 6px solid $brightAqua;
  border-bottom: 6px solid $brightAqua;
  position: relative;
}
.newActivitiesWrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 80%;
}
.blogContainerFlex {
  display: flex;
}
.chalkImage {
  position: relative;
}
.chalkImage img {
  box-shadow: 10px 10px 0px 0px $frenchBlue;
}
