.findOutButton{
    padding: 10px;
    background: $brightAqua;
    text-transform: uppercase;
    font-family: $primaryFont;
    text-align: center;
    line-height: 41.6px;
    color: $frenchBlue;
}
.readMore{
        padding: 10px;
    background: $brightAqua;
    text-transform: uppercase;
    font-family: $primaryFont;
    text-align: center;
    line-height: 41.6px;
    color: $frenchBlue;
}