form{
    background: $deepTurq;
}
.events {
  padding: 60px 0;
  background: $deepTurq;
}
.eventsText {
  color: $paleGrey;
  margin-left: 50px;
}
.flexEvents {
  display: flex;
}
.twoChildren {
  // -webkit-box-shadow: -29px 30px 0px 0px rgba(8,253,237,1);
  // -moz-box-shadow: -29px 30px 0px 0px rgba(8,253,237,1);
  box-shadow: -20px 20px 0px 0px rgba(8, 253, 237, 1);
  min-width: 200px;
  align-self: center;
}
