.b .blogForm {
  display: flex;
  flex-wrap: wrap;
}

.b .formName,
.b .formEmail {
  width: calc(50% - 20px);
  height: 50px;
  padding: 15px;
  border: 0;
  margin: 10px 0 25px;
  border-bottom: 2px solid $brightAqua;
  background: $deepTurq;
}
.b .formName {
  margin-right: 40px;
}
.b .formComment {
  width: 100%;
  height: 250px;
  background: $deepTurq;
  border: 0;
  border: 1px solid $brightAqua;
  margin: 10px 0;
  padding: 20px 0 200px 20px;
}
.b .blogForm input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 35px;
  background: $brightAqua;
  font-family: $primaryFont;
  color: $frenchBlue;
  border: none;
  transition: 0.5s ease;
}
.b .formCommentContact {
  width: 100%;
  height: 250px;
  background: $deepTurq;
  border: 0;
  border: 2px solid $brightAqua;
  position: relative;
  padding: 20px 0 200px 15px;
}
.b .formCommentContact::placeholder,
.b .formName::placeholder,
.b .formEmail::placeholder {
  padding-left: 10px;
  color: $paleGrey;
}
.contactSubmit {
  width: 100%;
  padding: 15px;
  background: $brightAqua;
  font-family: $primaryFont;
  color: $frenchBlue;
  transition: 0.5s ease;
}
.contactSubmit:hover {
  background: $darkishBlue;
  color: $brightAqua;
}
