@media (min-width: 1px) and (max-width: 800px) {
    html{
        font-size: 200%;
    }
    nav{
        padding: 20px 0;
    }
    nav li{
        flex: 1;
        text-align: center;
    }
    // ourProgramsAndNewLocations
  .ourProgramsAndNewLocations {
    padding: 0;
    position: initial;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .newLocation {
    position: initial;
    width: 100%;
    order: 3;
    text-align: center;
    padding: 50px;
  }
  .ourPrograms {
    position: initial;
    width: 100%;
    padding: 50px;
  }
  .firstImage {
    position: initial;
    width: 100%;
    box-shadow: 0px 10px 0px 0px #08fded;
  }
  .secondImage {
    position: initial;
    width: 100%;
    box-shadow: 0px 10px 0px 0px #08fded;
  }

// OurProgramsAndNewLocation End
// general info start
.generalInfo{
    padding: 180px 0 30px;
    margin: 0;
}
.generalInfoFlexItem {
  width: 100%;
}
// general info end

// events start
    .flexEvents{
        flex-direction: column;
    }
    .eventsText{
        padding-top: 50px;
        margin-left: 0;
    }
// events end

// flexgallery start
.gallery{
    padding: 0;
}
.flexGallery{
    flex-wrap: wrap;
}
.galleryItem{
    width: 100%;
}
.galleryItem:first-of-type{
    width: 50%;
}
.galleryItem:nth-of-type(2){
    margin: 0;
    width: 50%;
}
.galleryItem:last-of-type{
    width: 100%;
}
// flexgallery end
}