nav {
  padding: 30px 0 0 10vw;
}
ul {
  display: flex;
  padding: 0;
}
li {
  list-style-type: none;
}

a {
  padding: 20px;
  font-size: $navFont;
  position: relative;
}
a:after {
  content: "";
  height: 6px;
  background-color: $brightAqua;
  bottom: -10px;
  left: 25px;
  display: none;
  position: absolute;
  width: 70%;
}
nav a:hover:after {
  display: inline-block;
}
// li a:hover {
//   background: $darkishBlue;
//   border-radius: 40px;
// }
