@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Walter+Turncoat');

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

$primaryFont: 'Walter Turncoat', Helvetica, sans-serif;
$secondaryFont: 'Roboto',  Helvetica, sans-serif;

// $h1FontSize: 145.2px;
// $h2FontSize: 125.6px;
// $h3FontSize: 99.8px;
// $h4FontSize: 58px;
// $button: 25.4px;

$h1FontSize: 9vw;
$h2FontSize: 9vw;
$h3FontSize: 3vw;
$h4FontSize: 2.5vw;
$h5FontSize: 2.5vw;
$button: 25.4px;
$p: 1.6vw;
$navFont: 2vw;


$brightAqua: #08fded;
$frenchBlue: #474bb5;
$darkishBlue: #044779;
$paleGrey: #f3faff;
$deepTurq: #03697c;

h1,h2,h3,h4,h5{
    font-family: $primaryFont;
    color: $paleGrey
}
h1,h3,h4{
    text-transform: uppercase;
}
h1{
    font-size: $h1FontSize;  
}
h2{
    font-size: $h2FontSize;
    color: $paleGrey;
    align-self: center;

}
h3{
    font-size: $h3FontSize;
    color: $paleGrey;
}
h4{
    font-size: $h4FontSize;
}
h5{
    font-size: $h5FontSize;
}
p{
    font-family: $secondaryFont;
    font-size: $p;
    color: $paleGrey;
}
li{
        font-family: $secondaryFont;
    font-size: $p;
    color: $paleGrey;
}