@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Walter+Turncoat");

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

$primaryFont: "Walter Turncoat", Helvetica, sans-serif;
$secondaryFont: "Roboto", Helvetica, sans-serif;

// $h1FontSize: 145.2px;
// $h2FontSize: 125.6px;
// $h3FontSize: 99.8px;
// $h4FontSize: 58px;
// $button: 25.4px;

// Typography desktop
$h1FontSize: 7.5vw;
$h2FontSize: 5vw;
$h3FontSize: 2.1vw;
$h4FontSize: 2.5vw;
$h5FontSize: 2.5vw;
$h6FontSize: 2vw;
$button: 25.4px;
$p: 24px;
$navFont: 2vw;

// Typography mobile

$brightAqua: #08fded;
$frenchBlue: #474bb5;
$darkishBlue: #044779;
$paleGrey: #f3faff;
$deepTurq: #03697c;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primaryFont;
  color: $paleGrey;
}
h1,
h3,
h4 {
  text-transform: uppercase;
}
h1 {
  font-size: $h1FontSize;
}
// move to correct partial
.h h1 {
  margin-top: 22vh;
}
// move to correct patial
.b h1 {
  margin: 10vh 10vh 0 0;
  padding: 0 0 0 12vw;
}
h2 {
  font-size: $h2FontSize;
}
h3 {
  font-size: $h3FontSize;
}
h4 {
  font-size: $h4FontSize;
}
h5 {
  font-size: $h5FontSize;
}
h6 {
  font-size: $h6FontSize;
  display: inline;
}
p {
  font-family: $secondaryFont;
  font-size: $p;
  color: $paleGrey;
}
li {
  font-family: $secondaryFont;
  font-size: $p;
  color: $paleGrey;
}
